{
  "prettier/prettier": [
    "error",
    {
      "singleQuote": true,
      "parser": "flow",
      "endOfLine": "auto"
    }
  ],
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf"
}